certifi
pyproject-toml
faiss-cpu==1.8.0.post1
fastapi
python-dotenv
groq==0.9.0
sse-starlette

langchain
langchain-community
langchain-core
langchain-groq
langchain-objectbox
langchain-openai
langchain-text-splitters
langchainhub
langserve
langsmith
markdown-it-py
python-dotenv
mysql-connector-python

numpy==1.26.4

pandas
passlib
PyMySQL

SQLAlchemy

tqdm==4.66.4

uvicorn==0.30.1

